@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("http://fonts.cdnfonts.com/css/anurati");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background: rgb(22, 106, 107);
  background: linear-gradient(
    0deg,
    rgba(22, 106, 107, 1) 0%,
    rgba(16, 53, 92, 1) 59%,
    rgba(65, 56, 102, 1) 100%
  );
  scroll-behavior: smooth;
}

#navbar {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  overflow: hidden;
  background-color: #413866;
  position: sticky;
  top: 0;
  z-index: 100;
}
ul {
  flex: 1;
  text-align: right;
}

ul li {
  display: inline-block;
  list-style: none;

  padding: 30px;
}
ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0 20px;
  font-size: 20px;
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 60px;
} */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  z-index: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
/* #ourstory {
  display: flex;
  margin-top: 0px;
  background-image: url(assets/ball.png);
  background-size: 100%;
  height: 750px;
}
#product {
  display: flex;
  background-image: url(assets/iMem.png);

  background-size: 100%;
  height: 750px;
}
#manifesto {
  display: flex;
  background-image: url(assets/ball.png);
  background-size: 100%;
  height: 750px;
} */
#imegacy {
  display: flex;
  /* background-image: url(assets/repoo.png); */

  /* background-color: rgba(50, 150, 127, 0.469); */
  background-size: 100%;
  height: 750px;
}

/* #faq {
  display: flex;
  background-color: rgb(255, 255, 255);
  background-size: 100%;
  height: 100%;
}
#contactus {
  display: flex;
  background-color: rgb(11, 6, 78);
  background-size: 100%;
  height: 100%;
} */

.left-column,
.right-column {
  flex-basis: 50%;
  margin: 90px;
}

.left-column h1 {
  font-size: 80px;
  margin: 10px auto;
  color: rgb(11, 6, 78);
}

.left-column h4 {
  font-size: 20px;
  color: rgb(11, 6, 78);
}

.right-column h1 {
  font-size: 80px;
  margin: 30px auto;
  color: rgb(255, 255, 255);
}

.right-column h4 {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.right-column img {
  width: 100%;
}

.right-column img:hover {
  transform: translateY(-10px);
  top: -10px;
}

.left-column img {
  width: 100%;
}

.repobtn {
  width: 260px;
  height: 100px;
}
.repobtn {
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  border: 3px solid rgb(255, 255, 255);
  background-color: transparent;
  transition: transform 1s ease;
  text-decoration: none;
  padding: 20px 30px;
}

.repobtn a {
  text-decoration: none;
}

.repobtn:hover {
  transform: translate(0, -12px);

  border-radius: 30px;
  transition: transform 0.4s ease;
}

.mnftbtn {
  width: 260px;
  height: 100px;
  margin-left: 40%;
  margin-top: 9%;
}
.mnftbtn {
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  border: 3px solid rgb(255, 255, 255);
  background-color: transparent;
  transition: transform 1s ease;
  text-decoration: none;
  padding: 20px 30px;
}

.mnftbtn a {
  text-decoration: none;
}

.mnftbtn:hover {
  transform: translate(0, -12px);

  border-radius: 30px;
  transition: transform 0.4s ease;
}
.wrapper {
  width: 85%;
  margin: auto;
}

#manifestotext {
  font-size: 23px;
  margin: 40px;
  color: white;
}

section {
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
  overflow: hidden; /* Hide scrollbars */
}
section:nth-child(1) {
  color: #fff;
  overflow: hidden; /* Hide scrollbars */
}

section:nth-child(2) {
  color: #ffffff;
  /* background: #fff; */
}

section:nth-child(3) {
  color: #fff;
  /* background-color: rgb(188, 181, 148); */
  /* background-image: url(assets/iMem.png); */
}

section:nth-child(4) {
  color: #1d212b;
}

section .container {
  margin: 100px;
}

section h1 {
  font-size: 60px;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .cards {
  display: flex;
  margin-left: 10%;
}

section .cards .text-card {
  background: #ffffff;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.manifesto-card {
  transition: box-shadow 0.3s;
  width: 1300px;
  height: 600px;
  margin: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  line-height: 1.6;

  float: left;
}

.ball {
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  box-shadow: inset 0 0 50px #fff, /* inner white */ inset 20px 0 80px #f0f,
    /* inner left magenta short */ inset -20px 0 80px #0ff,
    /* inner right cyan short */ inset 20px 0 300px #f0f,
    /* inner left magenta broad */ inset -20px 0 300px #0ff,
    /* inner right cyan broad */ 0 0 50px #fff,
    /* outer white */ -10px 0 80px #f0f,
    /* outer left magenta */ 10px 0 80px #0ff; /* outer right cyan */
}

.text-card {
  transition: box-shadow 0.3s;
  width: 300px;
  height: 500px;
  margin: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);

  float: left;
}

.text-card:hover {
  box-shadow: 0 0 33px rgba(33, 33, 33, 0.2);
  transform: translateY(10px);
}

section .cards .text-card .h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

/* on a phone screen the cards would display in columns */
@media (max-width: 900px) {
  section h1 {
    font-size: 40px;
  }

  section .cards {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* learned in https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter h1 {
  font-family: "Anurati", sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: 0.15em solid rgb(162, 161, 159);  */
  white-space: nowrap; /* Keeps the content on a single line */
  margin-top: 100px; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.02em; /* Adjust as needed */
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.text-card img {
  margin: auto;
  width: 250px;
  height: 300px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 100px;
  transition: all 0.2s;
  display: inline-block;
}

.btn-white {
  background-color: white;
  color: #777;
}

.btn:hover {
  transform: translateY(-30px);
}

.btn:active {
  transform: translateY(-10px);
}

body {
  font-family: "Roboto Condensed", sans-serif;
  /* background-color: #f5f5f5; */
}

.hedding {
  font-size: 20px;
  color: #ab8181;
}

.main-section {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 5%);
}

.left-side-product-box img {
  width: 100%;
}

.left-side-product-box .sub-img img {
  margin-top: 5px;
  width: 83px;
  height: 100px;
}

.right-side-pro-detail span {
  font-size: 15px;
}

.right-side-pro-detail p {
  font-size: 25px;
  color: #a1a1a1;
}

.right-side-pro-detail .price-pro {
  color: #e45641;
}

.right-side-pro-detail .tag-section {
  font-size: 18px;
  color: #5d4c46;
}

.pro-box-section .pro-box img {
  width: 100%;
  height: 200px;
}

@media (min-width: 360px) and (max-width: 640px) {
  .pro-box-section .pro-box img {
    height: auto;
  }
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
.mySlides fade img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: transparent;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.inspect img {
  width: 400px;
  transform: scale(1.2);
}
