* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.major {
  width: 100%;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
}
ul {
  flex: 1;
  text-align: right;
}

ul li {
  display: inline-block;
  list-style: none;
  margin: 0 25px;
  padding: 20px;
}
ul li a {
  text-decoration: none;
  color: rgb(11, 6, 78);
  padding: 0 10px;
  font-size: 20px;
}

#ourstory {
  display: flex;
  margin-top: 0px;
  background-image: url(assets/ball.png);
  background-size: 100%;
  height: 750px;
}
#product {
  display: flex;
  background-image: url(assets/pen.png);

  background-size: 100%;
  height: 750px;
}
#manifesto {
  display: flex;
  background-image: url(assets/ball.png);
  background-size: 100%;
  height: 750px;
}
#imegacy {
  display: flex;
  background-image: url(assets/repohifi.png);
  background-size: 100%;
  height: 750px;
}
#faq {
  display: flex;
  background-color: rgb(255, 255, 255);
  background-size: 100%;
  height: 100%;
}
#contactus {
  display: flex;
  background-color: rgb(11, 6, 78);
  background-size: 100%;
  height: 100%;
}
.left-column,
.right-column {
  flex-basis: 50%;
  margin: 90px;
}

.left-column h1 {
  font-size: 80px;
  margin: 10px auto;
  color: rgb(11, 6, 78);
}

.left-column h4 {
  font-size: 20px;
  color: rgb(11, 6, 78);
}

.right-column h1 {
  font-size: 80px;
  margin: 30px auto;
  color: rgb(255, 255, 255);
}

.right-column h4 {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.right-column img {
  width: 100%;
}

.left-column img {
  width: 100%;
}

#manifestotext {
  padding: 60px;
}

#repobtn {
  width: 260px;
  height: 100px;
}
#repobtn button {
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  border: 3px solid rgb(255, 255, 255);

  background-color: transparent;
  transition: transform 1s ease;
  text-decoration: none;
  padding: 20px 30px;
}

#repobtn:hover {
  transform: translate(0, -9px);
  /* box-shadow: 10px -10px 10px 0 rgb(141, 152, 141),
    -10px 10px 10px 0 rgb(154, 139, 200); */

  border-radius: 30px;
  transition: transform 0.4s ease;
}
